@font-face {
  font-family: BMJUA;
  src: url('./assets/fonts/BMJUA.woff2');
  /* src: url('./assets/fonts/BMJUA.ttf'); */
  font-display: block;
  
}
.App{
  display: flex;
  justify-content: center;
  width :100%;
  height: 100%;
  background: #f2f2f2;
}

body {
  font-family: "BMJUA", "sans-serif";
  margin: 0;
}
